.cartDropdown {
    display: flex;
    position: absolute;
    width: 360px;
    height: 256px;
    left: 991px;
    top: 94px;
    background: #FFFFFF;
box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
border-radius: 10px;
}

.cartItem {
    display: flex;
    height: 26px;
    left: 0%;
    right: 0.47%;
    top: calc(50% - 26px/2 - 13px);
    
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    
    
    color: #69707D;
}

.cartMessage {
    position: absolute;
height: 16px;
left: 6.67%;
right: 83.89%;
top: calc(50% - 16px/2 - 96px);

font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #1D2026;
}

.emptyMessage {
    display: flex;
    margin-left: 109px;
    margin-top: 145px;
/*     height: 26px;
left: 30.28%;
right: 30.28%;
top: calc(50% - 26px/2 + 30px); */

font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;

color: #69707D;
}

/* .thumbnail {
    position: absolute;
    width: 50px;
    height: 50px;
left: 6.67%;
right: 79.44%;
top: 35.94%;
bottom: 44.53%;

border-radius: 4px;
} */

.productInfo{
    display: flex;
/*     flex-direction: column; */
    position: absolute;
    width: 312px;
    height: 52px;
    left: 24px;
    top: 92px;

}

.checkout {
    width: 312px;
    height: 56px;
    padding: 168px 24px 32px 24px;
}

.rectangle {
    width: 50px;
    height: 50px;
/*     margin-bottom: 50px; */
    margin: 0px 16px 114px 0px;
}

.productName {
/*     white-space: nowrap; */
}

.totalPrice {
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #1D2026;
}

